<html>

<head>
    <title>BKR Meeting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" ? />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="styleSheet" href="/static/session/css/main.css" type="text/css" media="screen" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="/static/head_imports.js"></script>

    <script src="/static/session/js/openvidu-browser-2.14.0.js"></script>
</head>

<body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bg-dark py-1" id="navbar_session">
        <a href="/" class="navbar-brand mr-0 mr-md-2" aria-label="BKR">
            <img src="/static/home/images/BKR.PNG" alt="Logo" width="67" height="27" style="border-radius:50%;" />
        </a>
        <span class="navbar-text mr-0 mr-md-2 mx-auto"><%= meetingName %></span>
        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item session-header-inner">
                <buton class="btn btn-primary btn-circle btn-sm" onclick="openSidePanel()" style="background-color:#7D7C46;border-color:#7D7C46">
                    <i class="material-icons" style="color:white;font-size:100%;">chat</i>
                </buton>
            </li>
            <li class="nav-item session-header-inner">
                <button class="btn btn-primary btn-circle btn-sm" onclick="screenShare()" style="background-color:#5E90E7">
                    <i class="material-icons" style="color:white;font-size:100%;">screen_share</i>
                </button>
            </li>
            <li class="nav-item session-header-inner">
                <button class="btn btn-warning btn-circle btn-sm" onclick="whiteboard_open()">
                    <i class='fas fa-chalkboard' style="color:white;font-size:100%;"></i>
                </button>
            </li>
            <li class="nav-item session-header-inner">
                <button class="btn btn-info btn-circle btn-sm" onclick="shareMeeting()">
                    <i class="material-icons" style="color:white;font-size:100%;">share</i>
                </button>
            </li>
            <li class="nav-item session-header-inner">
                <button id="toggleVideo" class="btn btn-primary btn-circle btn-sm" onclick="toggleVideo()">
                    <i class="material-icons" id="toggleVideoIcon" style="color:white;font-size:100%;">videocam_off</i>
                </button>
            </li>
            <li class="nav-item session-header-inner">
                <button id="toggleAudio" class="btn btn-success btn-circle btn-sm" onclick="toggleAudio()">
                    <i class="material-icons" id="toggleAudioIcon" style="color:white;font-size:100%;">mic_off</i>
                </button>
            </li>
            <li class="nav-item session-header-inner">
                <form action="/leave-session" method="post">
                    <input type="hidden" name="sessionname" value="<%= sessionName %>" />
                    <input type="hidden" name="token" value="<%= token %>" />
                    <button id="buttonLeaveSession" class="btn btn-danger btn-circle btn-sm" type="submit" onclick="leaveSession()">
                        <i class="material-icons" style="color:white;font-size:100%;">call_end</i>
                    </button>
                </form>
            </li>
        </ul>
    </header>
    <div class="modal fade" id="whiteboard_model" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="whiteboard-model-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modalLabel">White Board</h3>
                    <button class="btn btn-primary" id="clear-board">Clear board</button>
                </div>
                <div class="modal-body" id="canvas-container">
                    <!-- <canvas id="whiteboard"></canvas> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="backToVideoAudio()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="share_meeting_modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Share Meeting</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Give this link: <a id="share_meeting_link"> https://192.168.1.18:8000/join/?wrong=nothing&id=<%= sessionName %></a> with the meeting code to allow somebody else to join the meeting</p>
                    <h4>OR</h4>
                    <p>Share this ID: <%= sessionName %> with the session code to allow somebody else to join the meeting</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="sidePanel" id="sidePanel">
        <div class="card" id="messages">
            <div class="card-header p-0" id="message_header">
                <button class="closebtn btn btn-light" type="button" onclick="closeSidePanel()">&times;</button>
                <h6 id="to_whom_message_side_panel">Broadcast</h6>
                <i class="material-icons" id="chat_icon_side_panel">chat</i>
            </div>
            <div class="card-body p-1 m-1" id="messages_body" style="margin-top:30px;margin-bottom:30px;"></div>
            <div class="card-footer p-1" id="message_footer">
                <form action="javascript:void(0)" autocomplete="off" style="text-align:center;">
                    <input class="form-control" id="to_message_send" type="hidden" />
                    <div class="send_button_sidebar_container">
                        <button type="submit" class="btn btn-primary btn-sm" onclick="sendMessage()">
                            <i class="material-icons" style="color:white;font-size:100%;">send</i>
                        </button>
                    </div>
                    <div class="form-group">
                        <textarea type="text" placeholder="Chat With Everybody!" class="form-control" id="message_to_send" style="margin:3px;" rows="6"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div id="main-container" class="container-fluid p-0">
        <div class="meetingOptionsExtra">
            <div class="btn-group-vertical" role="group" aria-label="Meeting Options">
                <button type="button" class="btn btn-secondary" onclick="toggleParticipantList()">
                    <i class="material-icons" style="color:white;">group</i>
                </button>
                <button type="button" class="btn btn-secondary" onclick="togglePrevMeetings()">
                    <i class="material-icons" style="color:white;">perm_contact_calendar</i>
                </button>
            </div>
        </div>
        
        <div id="participantList_sideBar"></div>
        
        <div class="inline-block" id="video_container">
            <div class="card p-0" style="display:inline-block;" id="video-1-container">
                <div class="card-body p-0"><video id="video-main-1" autoplay></video></div>
            </div>
            <br>
            <div class="card p-0" style="display:inline-block;" id="video-2-container">
                <div class="card-body p-0"><video id="video-main-2" autoplay></video></div>
            </div>
        </div>
    </div>

    <script>
        // script to create whiteboard
        // keep track of where the mouse has been dragged on
        var array_of_mouse_loactions = [];
        
        // sketch for p5 js
        let sketch = function(p) {
            
            document.getElementById("clear-board").addEventListener('click', function() {
                clearWhiteBoard();
            })

            function clearWhiteBoard () {
                p.background(0);
            }

            // setup function
            p.setup = function(){
                /* var width = window.document.getElementById("canvas-container").style.width;
                // var height = $(window).width - 100; */
                // create canvas with size 500, 500
                p.createCanvas(500, 500);
                // background of black color
                p.background(0);
            }
            // function called when mouse is dragged
            p.mouseDragged = function () {
                // push mouse position to mouse positions array
                array_of_mouse_loactions.push({x: p.mouseX, y: p.mouseY});
            }
            // draw function
            p.draw = function () {
                // check if mouse locations array has first item
                if (array_of_mouse_loactions[0]) {
                    // mouse location array has first item
                    // draw circle around that location
                    p.noStroke();
                    p.fill(255);
                    p.ellipse(array_of_mouse_loactions[0].x, array_of_mouse_loactions[0].y, 36, 36)
                    // remove first element from mouse locations array
                    array_of_mouse_loactions.shift();
                }
            }
        };
        // create new canvas with prev defined sketch in div of id canvas-container
        new p5(sketch, 'canvas-container');
    </script>

    <script>
        // script for main stuff
        // define publisher as global var
        var publisher;
        // get session id to display on share modal
        var sessionName = <%- JSON.stringify(sessionName) %> ;
        // get token needed by OpenVidu
        var token = <%- JSON.stringify(token) %> ;
        // get nickname of user to show to other users and the user itself
        var nickName = <%- JSON.stringify(nickName) %> ;
        // get unique username to diffrentiate between users
        var userName = <%- JSON.stringify(userName) %> ;
        // get meeting name to display on navbar
        var meetingName = <%- JSON.stringify(meetingName) %> ;

        // check if user is signed in
        var signName = nickName;
        var accountID = "";
        var signphotoUrl = "";
        firebase.auth().onAuthStateChanged(function(user) {
          if (user) {
            // User is signed in.
            signName = user.displayName;
            signphotoUrl = user.photoURL;
            accountID = user.uid;
          }
        }, function(error) {
          console.log(error);
        });

        // keep track of video and audio status using booleans
        var audio = true;
        var video = true;
        // keep connection list for private chat and others
        var connection_list = {};
        // keep list for active user to be displayed on main container
        var active_users = {}
        // activate all tooltips
        $('[data-toggle="tooltip"]').tooltip();
        // set url of #share_meeting_link
        $("#share_meeting_link").attr("href", "/join_meting/?id=" + sessionName);
        // initialize every thing
        init_every_time();
        // every time window resizes, initialize every thing
        $(window).resize(init_every_time);

        // function init_every_time
        function init_every_time() {
            // set margin of side panel as navbar's height + offset
            $(".sidePanel").css("margin-top", $("#navbar_session").height() + 7);
            // set messages side panel's height dynamically
            if ($("#navbar_session").height() > 100) {
                $("#messages").css("height", "78%");
            } else {
                $("#messages").css("height", "90%");
            }
            // set height of meeting extra options
            var height_of_meetingExtraOptions = $(window).height() - $("#navbar_session").height() - 8;
            $(".meetingOptionsExtra").css("height", height_of_meetingExtraOptions.toString() + "px");
            $("#participantList_sideBar").css("height", height_of_meetingExtraOptions.toString() + "px");
            $("#video_container").css("height", height_of_meetingExtraOptions.toString() + "px")
            
            // set width of main container
            var max_width_video_container = $(window).width() - 50;
            $("#video_container").css("width", max_width_video_container.toString() + "px");
            
            // toggle participant list if open
            if ($("#participantList_sideBar").width() > 10) {
                toggleParticipantList();
            }
            // set margin of main container as 50px
            $("#video_container").css("margin-left", "50px");
        }

        // initialize OpenVidu
        OV = new OpenVidu();
        // start session
        session = OV.initSession();

        // function ran when public chat message recvied
        session.on('signal:chat', (event) => {
            // split values
            var seprated_values = event.data.split(",")
            var from_name = seprated_values[0];
            var from_id = seprated_values[1];
            var message_to_slice = event.data.slice(event.data.indexOf(",") + 1, event.data.length);
            var message = message_to_slice.slice(message_to_slice.indexOf(",") + 1, message_to_slice.length);

            // create html template of message
            var html_string;
            if (from_id === userName.toString()) {
                html_string = '<div class="card shadow-sm message_sent" style="background-color:#5cb3db; white-space: pre;"><div class="card-body text-wrap p-1"><strong>You: ' + message + ' </strong></div></div>'
            } else {
                html_string = '<div class="card message_sent shadow-sm"><div class="card-body text-wrap p-1"><strong>' + from_name + ': ' + message + ' </strong></div></div>'
            }
            // append html template with message in DOM
            $("#messages_body").append(html_string);
            var message_body = document.getElementById("messages_body");
            // scroll to bottom when new message recv
            message_body.scrollTop = message_body.scrollHeight;
        })

        // function ran when private chat message has been recv
        session.on('signal:private-chat', (event) => {
            // split values
            var seprated_values = event.data.split(",")
            var from_name = seprated_values[0];
            var from_id = seprated_values[1];
            var message_to_slice = event.data.slice(event.data.indexOf(",") + 1, event.data.length);
            var message = message_to_slice.slice(message_to_slice.indexOf(",") + 1, message_to_slice.length);
            // create html template
            var html_string = '<div class="card shadow-sm message_sent" style="white-space: pre;"><div class="card-body text-wrap p-1"><strong>' + from_name + ' (Private): ' + message + ' </strong></div></div>'
            // append html template with message to DOM
            $("#messages_body").append(html_string);
            var message_body = document.getElementById("messages_body");
            // scroll to bottom when new message has been recv
            message_body.scrollTop = message_body.scrollHeight;
        });

        // function ran when somebody changed their stream status
        session.on('signal:streamStatus', (event) => {
            var connectionId = event.from.connectionId;      
            
            if (connection_list[connectionId]) {
                var data = event.data.split(",");
                console.log("Data: " + data);
                connection_list[connectionId][audio] = data[0] === "1";
                connection_list[connectionId][video] = data[1] === "1";
                var audio_of_other_user = document.getElementById("audio-toggle-button-" + connectionId);
                var video_of_other_user = document.getElementById("video-toggle-button-" + connectionId);
                if (data[0] === "1") {
                    audio_of_other_user.innerHTML = '<i class="material-icons" style="color: white; font-size: 100%;">mic_off</i>';
                } else {
                    audio_of_other_user.innerHTML = '<i class="material-icons" style="color: white; font-size: 100%;">mic</i>'; 
                }
                if (data[1] === "1") {
                    video_of_other_user.innerHTML = '<i class="material-icons" style="color: white; font-size: 100%;">videocam_off</i>';
                } else {
                    video_of_other_user.innerHTML = '<i class="material-icons" style="color: white; font-size: 100%;">videocam</i>';
                }
            }
        });

        // function ran when somebody forces change to our streams
        session.on('signal:userControlMessage', (event) => {
            var data_split = event.data.split(",");
            if (data_split[0] === "audio") {
                if (data_split[1] === "0") {
                    if (audio) {
                        toggleAudio()
                    }
                } else {
                    if (!audio) {
                        toggleAudio()
                    }
                }
            } else if (data_split[0] === "video") {
                if (data_split[1] === "0") {
                    if (video) {
                        toggleVideo();
                    }
                } else {
                    if (!video) {
                        toggleVideo();
                    }
                }
            } else {
                $("#buttonLeaveSession").click()
            }
        })

        // function ran when new user connects
        session.on('streamCreated', (event) => {
            // subscribe to it's stream
            var subscriber = session.subscribe(event.stream, undefined);
            // create html template to put in participant list
            var card_participant = document.createElement("div");
            card_participant.className = "card p-0";
            var card_body = document.createElement("div");
            card_body.setAttribute("id", "card-body-" + event.target.connection.connectionId);
            card_body.className = "card-body p-0";
            var video = document.createElement("video");
            video.setAttribute("id", "vid-" + event.target.connection.connectionId);
            video.className = "video-user"; 
            card_body.appendChild(video);
            card_participant.appendChild(card_body);
            document.getElementById("participantList_sideBar").appendChild(card_participant);
            // connect OpenVidu with video element
            subscriber.addVideoElement(video);
            // apend user data and buttons to the video
            appendUserData(video, subscriber.stream.connection, card_participant);
        });

        // function ran when some user disconnect's stream the meeting
        session.on('streamDestroyed', (event) => {
            // remove user data
            removeUserData(event.stream.connection);
            // delete user from connection list
            delete connection_list[event.stream.connection.connectionId];
        });

        // function ran when new connection is created
        session.on('connectionCreated', (event) => {
            // append to connection list
            connection_list[event.connection.connectionId] = {connection: event.connection, audio: true, video: true};
        });

        // function ran when some user exits meeting
        session.on('connectionDestroyed', (event) => {
            // delete from connection list
            delete connection_list[event.connection.connectionId];
        });

        // join meeting
        session.connect(token, {
                clientData: nickName
            })
            .then(() => {
                // init publisher
                publisher = OV.initPublisher(undefined, {
                    audioSource: undefined,
                    videoSource: undefined,
                    publishAudio: true,
                    publishVideo: true,
                    resolution: '640x480',
                    frameRate: 30,
                    insertMode: 'APPEND',
                    mirror: false
                });
                // create html template for user
                var card_participant = document.createElement("div");
                card_participant.setAttribute("id", "card-mine");
                card_participant.className = "card p-0";
                var card_body = document.createElement("div");
                card_body.setAttribute("id", "card-body-mine");
                card_body.className = "card-body p-0";
                $(card_body).css("text-align", "center")
                var video = document.createElement("video");
                video.setAttribute("id", "vid-mine");
                video.className = "video-user"; 
                card_body.appendChild(video);
                card_participant.appendChild(card_body);
                document.getElementById("participantList_sideBar").appendChild(card_participant);
                console.log("Added Element");
                // set timeout of 5000 to connect video to OpenVidu and append user data and publish user's stream
                setTimeout(function () {
                    publisher.addVideoElement(video);
                    var userData = {
                        nickName: nickName,
                        userName: userName
                    };
                    appendUserData(video, userData, card_participant);
                    $(video).prop('muted', true);
                    session.publish(publisher);
                }, 5000);
            })
            .catch(error => {
                // log error if there
                console.warn('There was an error connecting to the session:', error.code, error.message);
            });

        // function ran when user presses exit meeting button
        function leaveSession() {
            // disconnet the session
            session.disconnect();
        }

        // function ran when toggle audio button is pressed
        function toggleAudio() {
            if (audio) {
                // change boolean
                audio = false;
                // change icon
                $("#toggleAudioIcon").html("mic")
                // stop publishing stream
                publisher.publishAudio(false);
            } else {
                // change boolean
                audio = true;
                // change icon
                $("#toggleAudioIcon").html("mic_off");
                // start publishing audio
                publisher.publishAudio(true);
            }
            var audio_return = "0"
            if (audio) {
                audio_return = "1";
            }
            var video_return= "0";
            if (video) {
                video_return = "1";
            }
            sendStreamStatusMessage(audio_return + "," + video_return);
        }

        // function ran when toggle video button is pressed
        function toggleVideo() {
            if (video) {
                // change boolean
                video = false;
                // change icon
                $("#toggleVideoIcon").html("videocam")
                // stop publishing audio
                publisher.publishVideo(false);
            } else {
                // change boolean
                video = true;
                // change icon
                $("#toggleVideoIcon").html("videocam_off")
                // start publishing video
                publisher.publishVideo(true);
            }
            var audio_return = "0"
            if (audio) {
                audio_return = "1";
            }
            var video_return= "0";
            if (video) {
                video_return = "1";
            }
            sendStreamStatusMessage(audio_return + "," + video_return);
        }

        // function ran when sidepanel has open close
        function closeSidePanel() {
            document.getElementById("sidePanel").style.width = "0px";
        }

        // function ran when sidepanel has to open
        function openSidePanel() {
            document.getElementById("sidePanel").style.width = "350px";
        }
        
        // toggle participant list function ran when user click participant list button
        function toggleParticipantList() {
            // get target element
            var selector = $("#openParticipantList").data("target");
            // check if taget element is open
            if ($("#participantList_sideBar").width() < 10) {
                // taget element is close
                // check how much space should the participant list take
                var width_of_part_list;
                if ($(window).width() <= 768) {
                    var width_screen = $(window).width() - 50;
                    $("#participantList_sideBar").animate({width: width_screen.toString() + "px"});
                    width_of_part_list = width_screen;
                } else if ($(window).width() <= 992) {
                    $("#participantList_sideBar").animate({width: "25%"});
                    width_of_part_list = $(window).width() * (1 / 4) + 50;
                } else {
                    $("#participantList_sideBar").animate({width: "15%"});
                    width_of_part_list = $(window).width() * (15 / 100) + 50;
                }
                $("#video_container").animate({marginLeft: width_of_part_list.toString()});
            } else {
                // taget element is open
                // close target element
                $("#participantList_sideBar").animate({width: "0"});
                var width_of_extraOptions = 50;
                $("#video_container").animate({marginLeft: width_of_extraOptions.toString()});
            }
        }

        // function ran when user clicks on whiteboard button
        function whiteboard_open() {
            $('#whiteboard_model').modal({
                keyboard: false
            });
            // initialize stream of white board
            whiteboard_share();
        }

        // function ran when user clicks on share button
        function shareMeeting() {
            $("#share_meeting_modal").modal()
        }

        // function ran when user clicks on send message button
        function sendMessage() {
            // get message
            var message = $("#message_to_send").val();
            // check if message is empty
            if (message !== "") {
                // get recver of message
                var to = $("#to_message_send").val();
                // check if recver of message is empty
                if (to === "") {
                    // send message to every one
                    session.signal({
                        data: nickName + "," + userName + "," + message,
                        to: [],
                        type: "chat",
                    }).then(() => {
                        var data = {
                            sessionId: sessionName,
                            from: nickName,
                            from_account: accountID,
                            to: "Everyone",
                            message: message,
                        }
                        $.ajax({
                            type: "POST",
                            url: "https://" + window.location.hostname + ":8000/session/saveMessage/",
                            data: data,
                            success: function () {},
                            error: function(err) {console.log(err);}
                        })
                    }).catch((error) => {})
                } else {
                    // send message to particular person
                    session.signal({
                        data: nickName + "," + userName + "," + message,
                        to: [connection_list[to][connection]],
                        type: "private-chat",
                    }).then(() => {}).catch((error) => {})
                    // reset value of recvier
                    $("#to_message_send").val("");
                    // create html template to render in the users page
                    $("#message_to_send").attr("placeholder", "Chat With Everybody!");
                    to_send = JSON.parse(connection_list[to][connection].data.split('%/%')[0]).clientData;
                    var html_string = '<div class="card shadow-sm message_sent" style="white-space: pre;"><div class="card-body text-wrap p-1"><strong>You (To @' + to_send + ' Private): ' + $("#message_to_send").val() + ' </strong></div></div>'
                    // append html template with message to DOM
                    $("#messages_body").append(html_string);
                    var message_body = document.getElementById("messages_body");
                    // scroll to bottom
                    message_body.scrollTop = message_body.scrollHeight;
                }
            }
            // reset message value
            $("#message_to_send").val("");
        }

        // send streamStatus message
        function sendStreamStatusMessage(streamStatus) {
            // send stream status to everybody
            session.signal({
                data: streamStatus,
                to: [],
                type: "streamStatus"
            }).then(() => {}).catch(err => {
                // log error if there
                console.log(err);                
            })
        }

        // send User Control Message
        function sendUserControlMessage(connectionId, controlType, status) {
            // send User control message to the person
            session.signal({
                data: controlType + "," + status,
                to: [connection_list[connectionId].connection],
                type: "userControlMessage",
            }).then(() => {}).catch(err => {
                // log error if there
                console.log(err);                
            })
        }

        // function called when user presses share screen button
        function screenShare() {
            // get screen media stream
            OV.getUserMedia({
                audioSource: undefined,
                videoSource: "screen",
                publishAudio: true,
                publishVideo: true,
                resolution: '640x480',
                frameRate: 30,
                insertMode: 'APPEND',
                mirror: false
            }).then(mediaStream => {
                // get video track of media stream
                var screenTrack = mediaStream.getVideoTracks()[0];
                // replace current track with media stream's video track
                publisher.replaceTrack(screenTrack).then(() => {}).catch((err) => {
                    // log error if any
                    console.log(err);
                });
                // function ran when screen share ends
                screenTrack.addEventListener('ended', () => {
                    // switch back to video and audio
                    backToVideoAudio();
                })
            }).catch((err) => {
                // log error if there
                console.log(err);
            })
        }

        // function ran at whiteboard_open()
        function whiteboard_share() {
            // get canvas's video track at 30 fps
            var canvasStream = document.getElementById('defaultCanvas0').captureStream(30).getVideoTracks()[0];
            OV.getUserMedia({
                audioSource: undefined,
                videoSource: canvasStream,
                publishAudio: true,
                publishVideo: true,
                resolution: '640x480',
                frameRate: 30,
                insertMode: 'APPEND',
                mirror: false
            }).then(mediaStream => {
                // get video tracks of media stream
                var screenTrack = mediaStream.getVideoTracks()[0];
                // replace current video track with video track of canvas
                publisher.replaceTrack(screenTrack).then(() => {}).catch((err) => {
                    // log error if there
                    console.log(err);
                });
            }).catch((err) => {
                // log error if there
                console.log(err);
            })
        }

        // function to swicth back to video and audio ran at screenShare() and 
        // when user clicks close at whiteboard model
        function backToVideoAudio() {
            // get video and audio media stream
            OV.getUserMedia({
                audioSource: undefined,
                videoSource: undefined,
                publishAudio: true,
                publishVideo: true,
                resolution: '640x480',
                frameRate: 30,
                insertMode: 'APPEND',
                mirror: false
            }).then(videoStream => {
                // get video tracks of media stream
                var videoTrack = videoStream.getVideoTracks()[0];
                // replace current video track with video track of video and audio
                publisher.replaceTrack(videoTrack).then(() => {}).catch((err) => {
                    // log error if there
                    console.log(err);
                });
            })
        }

        function openFullscreen(elem) {
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.mozRequestFullScreen) { /* Firefox */
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE/Edge */
                elem.msRequestFullscreen();
            }
        }

        // function ran when user joins meeting or other user joins meeting
        function appendUserData(videoElement, connection, card_element) {
            // get important data
            var clientData; // nickname
            var serverData; // user name
            var nodeId; // connection id
            if (connection.nickName) {
                clientData = connection.nickName;
                serverData = connection.userName;
                nodeId = 'mine';
            } else {
                clientData = JSON.parse(connection.data.split('%/%')[0]).clientData;
                serverData = JSON.parse(connection.data.split('%/%')[1]).serverData;
                nodeId = connection.connectionId;
            }

            // create html template
            card_element.setAttribute("id", "card-" + nodeId);
            var card_header = document.createElement("div");
            card_header.className = "card-header p-1";
            card_header.setAttribute("id", "card-header-" + nodeId)
            card_header.innerHTML = '<p class="nickName">' + clientData + '</p><p class="userName">' + serverData + '</p>';
            card_element.insertBefore(card_header, videoElement.parentNode);
            
            // create button group for private chat, toggle video, toggle audio, and drop that user out of meeting 
            // if it is not the user itelf
            if (nodeId !== 'mine') {
                var button_list_desktop = document.createElement("div");
                button_list_desktop.className = "button_list_video for-desktop";
                button_list_desktop.setAttribute("id", "button-list-" + nodeId);
                var private_chat_desktop = document.createElement("button");
                private_chat_desktop.className = "btn btn-primary btn-circle btn-sm for-desktop private-chat-desktop";
                private_chat_desktop.setAttribute("id", "private-chat-button-" + nodeId);
                private_chat_desktop.innerHTML = '<i class="material-icons" style="color: white; font-size: 100%;">chat</i>';
                var video_toggle_desktop = document.createElement("button");
                video_toggle_desktop.className = "btn btn-primary btn-circle btn-sm for-desktop video-toggle-dektop";
                video_toggle_desktop.setAttribute("id", "video-toggle-button-" + nodeId);
                video_toggle_desktop.innerHTML = '<i class="material-icons" style="color: white; font-size: 100%;">videocam_off</i>';
                video_toggle_desktop.addEventListener('click', function () {
                    if (connection_list[nodeId][video]) {
                        sendUserControlMessage(nodeId, "video", "0");
                    } else {
                        sendUserControlMessage(nodeId, "video", "1");
                    }
                })
                var voice_toggle_desktop = document.createElement("button");
                voice_toggle_desktop.className = "btn btn-success btn-circle btn-sm for-desktop voice-toggle-dektop";
                voice_toggle_desktop.setAttribute("id", "audio-toggle-button-" + nodeId);
                voice_toggle_desktop.innerHTML = '<i class="material-icons" style="color: white; font-size: 100%;">mic_off</i>';
                voice_toggle_desktop.addEventListener('click', function () {
                    if (connection_list[nodeId][audio]) {
                        sendUserControlMessage(nodeId, "audio", "0");
                    } else {
                        sendUserControlMessage(nodeId, "audio", "1");
                    }
                })
                var drop_call_desktop = document.createElement("button");
                drop_call_desktop.className = "btn btn-danger btn-circle btn-sm for-desktop drop-call-desktop";
                drop_call_desktop.setAttribute("id", "drop-call-button-" + nodeId);
                drop_call_desktop.innerHTML = '<i class="material-icons" style="color: white; font-size: 100%;">call_end</i>';
                video_toggle_desktop.addEventListener('click', function () {
                    sendUserControlMessage(nodeId, "drop", "force");
                })                
                button_list_desktop.appendChild(private_chat_desktop);
                button_list_desktop.appendChild(video_toggle_desktop);
                button_list_desktop.appendChild(voice_toggle_desktop);
                button_list_desktop.appendChild(drop_call_desktop);
                videoElement.parentNode.appendChild(
                    button_list_desktop
                );
                // show button group when user hovers on the video
                $(videoElement.parentNode).hover(function () {
                    $(videoElement).css("opacity", "0.3");
                    $(button_list_desktop).css("opacity", "1");
                }, function () {
                    $(videoElement).css("opacity", "1");
                    $(button_list_desktop).css("opacity", "0");
                })
            }

            // add db click listner to full screen video
            videoElement.parentNode.ondbclick = function () {
                openFullscreen(videoElement);
            }

            $(card_element).css("margin", "10px");
            // intialize maon container
            setTimeout(initMainVids, 1000, videoElement, nodeId);
        }
        
        // function ran in appendUserData()
        function initMainVids(videoElement, nodeId) {
            // check if active user is lesser than 2
            if (Object.keys(active_users).length < 2) {
                // active users is lesser than 2
                // append user to main videos
                active_users[nodeId] = 0;
                if (Object.keys(active_users).length === 1) {
                    document.getElementById("video-main-1").srcObject = videoElement.srcObject;
                    $("#video-1-container").css("width", $("#video-main-1").width().toString() + "px")
                } else {
                    document.getElementById("video-main-2").srcObject = videoElement.srcObject;
                    $("#video-2-container").css("width", $("#video-main-2").width().toString() + "px")
                }
            }
        }

        // remove user data when any user discconects
        function removeUserData(connection) {
            var nodeId = connection.connectionId;
            console.log("NodeId: " + nodeId);
            
            document.getElementById("card-" + nodeId).remove();
        }
    </script>
    <script src="/static/session/js/main.js"></script>
</body>

</html>
